<p id="notice"><%= notice %></p>

<h1>Stores</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="stores-circular">
    <%= render @stores %>
  </tbody>
</table>

<br>

<%= link_to 'New Store', new_store_path %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'>
</div>


    <script>
        handler = Gmaps.build('Google');
        byebug
        handler.buildMap({ 
          provider: {
            center: new google.maps.LatLng({lat: -34, lng: -33}),
            zoom: 10
          }, 
          internal: {
            id: 'map'
          }
        
        }, 
            function(){
            markers = handler.addMarkers(<%=raw @hash.to_json %>);
            google.maps.event.addListener(handler.getMap(), "click", function(){
              console.log("hey");
            });

            function(){
              google.maps.event.addListener(handler.getMap(), 'center_changed', function(){
                var latitude = handler.getMap().getCenter().lat();
                var longitude = handler.getMap().getCenter().lng();
                $.ajax({
                  type: "GET",
                  dataType: "script",
                  url: '/stores',
                  data: {latitude: latitude, longitude: longitude},
                
                });

            });

          }
      );
    </script>
